@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --greenbtn: #26baa4;
  --bluebtn: #6173ff;
  --graytitle: #4c545d;
  --grayp: #9fabb2;
}

p {
  font-weight: 400;
}

@theme inline {
  --color-background: var(--background);
  --color-green-btn : var(--greenbtn);
  --color-blue-btn: var(--bluebtn);
  --color-gray-title: var(--graytitle);
  --color-gray-p: var(--grayp); 
  --color-foreground: var(--foreground);
  --breakpoint-2xl: 90rem;
}



@media(min-width:1280px){
  .Blocks:first-child {
  margin-top: .9em;
}
 .Blocks:nth-of-type(2) {
  margin-top: -.4em;
}
.Blocks:nth-of-type(3) {
  margin-top: .3em;
}

} 


